##### ch:2  Containers

->**other then basic data type python provide servel types of Container.**<br>
->**contaner can be used of group similar types of objects to gether.**

<span style='color=green'>1.Sometimes the order of the object is import,math,ssequence {a0,a1,a2}</span><br>
<span style='color=green'>2.Sometimes the order is irrlevant as the set('cat','dog','cow')</span>

1.list for lists.<br>
2.tuple for tuples<br>
3.range for ranges<br>
4.dict  for dictionaries<br>
5.set for sets

<span style= 'background:pink'> ***Containers differ in the following ways:-*** </span>| <span style= 'background:yellow'>  </span>

1.**mutable verus immutable :mutable containers can modified after they have been created;immutable.**<br>
2.**ordered versus unorderd:The item in an order container are stored in fixed siqueence:Those is an unorederd container are not**<br>
3.**Indexable versus non-indexble :The item in an indxable container can be retrived using key;those non-indexable container cannot**

<span style= 'background:green'> ***List*** </span>| <span style= 'background:yellow'>  </span>

1.**List are mutable -one created,elements can be added,replaced or deleted.**<br>
2.**A list is an odeerd sequence of objects.**<br>
3**A list is a Haterogeneous contaner list element can be of any type and can be differdifferent types within the same list.**

In [1]:
#Two way to create List
l1=[]
type(l1) #one way use squre brackets to create List                   #List
# l2=list[] # second way usin list constrouctor

list

In [1]:
l3=[1,'j',2.4,True] 
# l3                                                  
# len(l3)
# l3  
# print(l3)
# type(list(l3))
type(l3)

list

In [3]:
l4=[2,'j',12.4,True]
# l4[1]='10'
# l4[4]='extra' #error avse out of index range
# l4.append("janu")
# l4.insert(2,"b")
l4.remove(2)
l4

['j', 12.4, True]

In [3]:
# l5=[1,2,3,4]

In [12]:
#all element are string
# l4=['a','c','d','v','t']
# l4.sort(key = str.lower)
# l4
# all elements are number
l5=[4.5,7,3,4.5] #defalt assendig order
l5.sort()
l5  
# sorted(l5, reverse = True)
#l5  #reverse keyword to start in desending order
# min(l5)

[3, 4.5, 4.5, 7]

In [5]:
l3=[1,'j',2.4,True]
# l4=['a','c','d','v','t']
# l5= l4 + l3  
# l5
# l3[:-2]
 
l3

[1, 'j', 2.4, True]

In [24]:
l3=[1,'j',2.4,True] 
#l3[:len(l3)-2]  #13 ?    len(l3) tle 4 and -2 so l3[: 4-2] = 2
l3[:2]

[1, 'j']

In [40]:
#all element are string
#l5=['A','K','W','Z','C']
# l5.sort(key=str.upper)
# l5
# ALL ELEMNENT ARE NUMBER
l3=[1,'j',2.4,True] 
l5=[3,1.2,9,8,8.5]
# l5.sort()
# l5
sorted(l5,reverse=True) #the reverse keyword is used to sort in desending order

l5=l3[:] 
l5

[1, 'j', 2.4, True]

In [38]:
a = ['Janvi','Denisha','Shivani']
# b = a.copy()
# b

['Janvi', 'Denisha', 'Shivani']

In [46]:
l6=["a","b","c","d"]
# l6.pop()
# l6.pop(2)
l6.pop(-1)

'd'

# Tuple

1.**Tuples are containers like lists,with the difference being that they are immutable -once diffiend elements cannot be changed or added.**<br>
2.**Tuples are identified by surrounding standard parentheses.<br>**
3.**To generate a tuple enclosed sequence of objects (sepreted by commas)in standard parenthesses().**<br>
4.**Tuple indexing and slicing works in the same way as for lists and strings.**<br>
5.**It is error try to change a tuple element once the tuple has been created.**<br>
6.**Tuples are simpler and more efficient then list in terms of memory used and perfomance.**<br>
7.**They are often preferred for 'temporary'variables that will not need to be modified.**<br>
8.**They can also be use dictionary key,which list cannot.**<br>

In [52]:
#create tuple
t1=('a',12,2.5,True)
# t1
# print(t1)
# type(t1)
# t1[2]
# t1[1:]
t1[2]=4         # ha immutable mean k 1var declare karya pachi change na thay

TypeError: 'tuple' object does not support item assignment

___Any Comma -separated sequen ce of values defines a tuple.which can be used to assign values to multiple variables at a time.___

In [63]:
t2=1,2,5,'k'
t1=('a',12,2.5,True)
# x,y=12,13
x=12,13
# type(t2)
# print(x,y)
type(x)
# t2.index("k")#A tuple is an orderd like list,so you can get its values refercing an index value.
# t3=t1+t2#create anew tuple
# t3
# t3=t2*2#repeat a number of a times
# t3
print('k' in t2)  #in operator

True

In [68]:
# l1=[1,1]
# type(l1)
l1=(1,1)
type(l1)
l11 = 1,1,7,25
l11

(1, 1, 7, 25)

# Sets

1.**Sets are containers with same meaning they do it mathmatics.**<br>
2.**unorderd collection of item with no duplicates.**<br>
3.**sets are identified by Surrounding curly brackets.**<br>
4.**To generate a list enclosed a sequence of object (sepreted by commas )in curly brackets.**<br>
5.**Duplicates will be remove for creating exisiting sets.**<br>
6.**sets can be used insted of list when we know that each element is unique and immutable (unchanging).**<br>
7.**immutable version of set called frozenset.**<br>

___sets are created using curly breaket___

In [74]:
# set create
# s={1,'a',2}
# s
# type(s)
s1=set(["11",3,"33",3])
# s1
type(s1)

set

In [79]:
#empty set
# s3=set([])
s3={}
type(s3)

dict

**Standard mathametical operations for sets are all built in python**

In [1]:
aa1={'cat','dog','cow'}
aa2={0,2,4,6,8}
aa3={1,2,3,4,5}
aa4={'cat2','dog1','dog'}
aa1 | aa2  #union ha done yes
aa2 | aa3
aa1 | aa4
aa1 & aa4 #intigration 
'dog' in aa1
aa1 & aa2
# emty km ke ky j comman ny
aa4 - aa1

{'cat2', 'dog1'}

In [2]:
team_Janvi = {'Janvi','shree','shivali'}
team_shree = {'shree','ABCD','XYZ'}

# Dictonary

->**Dictionaries are Containers where items are accessed by a key**<br>
->**This make them different from sequence type objects such as strings,list,and tuples ehere item are accessed by position.**

<span style='color: green'>1.To generate a dictionary enclosed a sequence of key:value pairs(sepreted by commas)in curly brackets.</span><br>
<span style='color: green'>2.The key can be any immutable object-a number,string or tuple.</span><br>
<span style='color: green'>3.new dictionary elements can be added and exiting once can be changed by using assignment statement.</span><br>
<span style='color: green'>4.order is not preserved in a dictionary so printing a dictionary will not necessarilly prints item in the same order that they were added</span><br>

In [1]:
#create Dictionary                     #note the colon in the key:value pairs.
d1={1:'sunday',2:'monday',3:'thuesday'} #Creating and empty dict.
d1                                      #another way to create and empty dictionary.

{1: 'sunday', 2: 'monday', 3: 'thuesday'}

In [8]:
# d11={}                                       #Creating and empty dict.
# d12=dict()                                      #another way to create and empty dictionary.

In [7]:
type(d11)

dict

In [8]:
d1[1]                          #Dictonary values are acced using the keys.

'sunday'

In [10]:
#Dictionary values can be change/update using the "=" assignment operator
d1[3]='Tuesday'
d1

{1: 'sunday', 2: 'monday', 3: 'Tuesday'}

In [12]:
# New key:values pairs (Adding new items)can be assigned using the"="assignment operator.
d1[7]='Saturaday'
d1

{1: 'sunday', 2: 'monday', 3: 'Tuesday', 7: 'Saturaday'}

In [14]:
# d1.get(7)#get return value for key if key is wrong or does not exists get does not return
d1.get(8,'holiday')

'holiday'

In [15]:
# Remove item
nd={65:'a',66:'B',67:'c',68:'D',69:'E'}
nd

{65: 'a', 66: 'B', 67: 'c', 68: 'D', 69: 'E'}

In [16]:
#pop()and popitem()function to remove item for dic
nd.pop(67)
nd

{65: 'a', 66: 'B', 68: 'D', 69: 'E'}

In [17]:
#Remove and arbitary item,return(key,value)#last item
# nd.popitem()aa first time pop kri to last delet thyu second var

(69, 'E')

In [19]:
nd.popitem()#jayare biji var run krsu tyare ena pachi no delet thase

(68, 'D')

In [20]:
#Remove item
nd.clear()
nd

{}

In [22]:
del nd

SyntaxError: invalid syntax (<ipython-input-22-76bc5aa5cdf0>, line 1)

___Dictionary method___
->Fromkey (seq[v,v])Returns a new dictionary with a keys from seq and value equal to v(Default to none)

In [4]:
# Fromkey  
s1 = {}.fromkeys([1,2,3],'Rajkot')
s1

{1: 'Rajkot', 2: 'Rajkot', 3: 'Rajkot'}

In [5]:
print(s1.items())#items()returns a new object of thr dictionarys item in(key,value)formet
#dict ni key and value ok done

dict_items([(1, 'Rajkot'), (2, 'Rajkot'), (3, 'Rajkot')])

In [6]:
print(s1)

{1: 'Rajkot', 2: 'Rajkot', 3: 'Rajkot'}

In [13]:
s2 = {
    1 : "janvi",            #Return a new obeject of the dictionary keys
    2 : "Denki",
    3 : "SHARDdHA",
    4 : "krishna",
    "name" : "janvi 2"
}
s2.keys()

dict_keys([1, 2, 3, 4, 'name'])

In [12]:
s2.pop(2)

'Denki'

___pyhon Dictionary comparision___

<span style='font-family:font_family name'> 1.Dictionary compression is an elegant  and concise way to create  a new dictionary from an itrable in paython  </span>
<span style='font-family:font_family name'> 2.Dictionary comaression consists of an Expreesion pair(key:value)followed by a for statement inside curly bracketls{}  </span>

In [14]:
range(5)

range(0, 5)

In [15]:
x = range(5)
x #ani limit mean starting and ending

range(0, 5)

In [3]:
#Example to make a dictionary with each item being a pair of a number and its squre.
#Dictionary Compression
squares={x:x*x for x in range(6)}
print(squares )

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [17]:
s = {x : x * x for x in range(2,5)}
s

{2: 4, 3: 9, 4: 16}

In [18]:
square = {}
for x in range(5):
    square[x] = x * x
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [19]:
s3 = {x :x * x for x in range(5) if x%2 == 0}
s3

{0: 0, 2: 4, 4: 16}

In [25]:
square = {}
for x in range(5):
    square[x] = x * x
    if square[x] % 2==0:
        print(x)

0
2
4

1.A Dictionary Comression can optionally contain more for if statements<br>
2.An optional if statement can filter out item to fromthe new dictionary

In [4]:
even_squares={x:x*x for x in range(10)if x%2 !=1} 
even_squares

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [1]:
# dictionary memarship test using 'in' keyword 'in'is known as membership operator
even_squares={x:x*x for x in range(10)if x%2 !=1} 
print(2 in even_squares)

True