# PYTHON DEMO

In [5]:
print("hello world by python")

hello world by python

In [8]:
print('''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.''')                         #above line

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

In [2]:
 hellooooooooooooo

a

In [11]:
a=b=c=50
print(a)
print(b)
print(c)                                #single value to multiple varibles

50
50
50

In [12]:
a,b,c=50,60,10
print(a)
print(b)
print(c)                          #multiple values to multiple variable

50
60
10

In [32]:
a=45
b=88
     #Arithmatic
    
print("the value of 45+88",45+88)
print("the value of 45-88",45-88)
print("the value of 45*88",45*88)
print("the value of 45/88",45/88)
          #asignment operator
a = 34
a -= 12
a *= 12
a /= 12
print(a)
         # Comparison Operators
# b = (14<=7)
# b = (14>=7)
# b = (14<7)
# b = (14>7)
# b = (14==7)
b = (14!=7)
print(b)

           # Logical Operators
bool1 = True
bool2 = False
print("The value of bool1 and bool2 is", (bool1 and bool2))
print("The value of bool1 or bool2 is", (bool1 or bool2))
print("The value of not bool2 is", (not bool2))

the value of 45+88 133
the value of 45-88 -43
the value of 45*88 3960
the value of 45/88 0.5113636363636364
22.0
True
The value of bool1 and bool2 is False
The value of bool1 or bool2 is True
The value of not bool2 is True

In [13]:
a="1238335483"
a=int(a)
print(type(a))                                
print(a)                                           #typecasting

<class 'int'>
1238335483

In [39]:
a=input("Enter your number")
a=int(a)
print(a)

Enter your number9825603345
9825603345

In [40]:
a=input("enter your first no:")
b=input("enter your second no:")
a=int(a)
b=int(b)
avg = (a + b)/2                                                   #avg
print("The average of a and b is", avg)

enter your first no:30
enter your second no:20
The average of a and b is 25.0

# Data types

In [14]:
a=10
b="hi janu"
c=10.5

print(type[a])
print(type[b])
print(type[c])

type[10]
type['hi janu']
type[10.5]

# Standard data type

In [16]:
a=3
b=434356
d=13.5
print(a)
print(b)
print(d)                                                               #numbers

3
434356
13.5

In [18]:
str1="hello good morning"
str2="how are you"

print(str1[0:2])
print(str1[0:-1])
print(str2)
print(str1*3)
print(str1+str2)                                                  #String

he
hello good mornin
how are you
hello good morninghello good morninghello good morning
hello good morninghow are you

In [46]:
story="yash is Topper He will score 8+ cgpa And then i wake up"

print(len(story))
print(story.endswith("up")) 
print(story.count("c"))
print(story.capitalize())
print(story.find("will"))                                            #string function
print(story.replace("yash","yash1"))

55
True
2
Yash is topper he will score 8+ cgpa and then i wake up
18
yash1 is Topper He will score 8+ cgpa And then i wake up

In [1]:
name=input("Enter yor name:")
print("good morning ," +name)

Enter yor name:janu
good morning ,janu

In [2]:
janu=["hi","hello",3]
print(janu[2:])
print(janu[0:3])
janu[0] = 98 
print(janu)                                                 #list

[3]
['hi', 'hello', 3]
[98, 'hello', 3]

In [19]:
l1 = [1, 8, 7, 2, 21, 15]
print(l1)
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.append(45)
print(l1)
l1.insert(2,14)
print(l1)
#li.pop()
#li.remove()                                               #list method

[1, 8, 7, 2, 21, 15]
[1, 2, 7, 8, 15, 21]
[21, 15, 8, 7, 2, 1]
[21, 15, 8, 7, 2, 1, 45]
[21, 15, 14, 8, 7, 2, 1, 45]

In [21]:
m1 = int(input("Enter Marks for Student Number 1: "))
m2 = int(input("Enter Marks for Student Number 2: "))
m3 = int(input("Enter Marks for Student Number 3: "))
m4 = int(input("Enter Marks for Student Number 4: "))
m5 = int(input("Enter Marks for Student Number 5: "))
m6 = int(input("Enter Marks for Student Number 6: "))

myList = [m1, m2, m3, m4, m5, m6]
myList.sort()
print(myList)

Enter Marks for Student Number 1: 11
Enter Marks for Student Number 2: 22
Enter Marks for Student Number 3: 33
Enter Marks for Student Number 4: 44
Enter Marks for Student Number 5: 556
Enter Marks for Student Number 6: 66
[11, 22, 33, 44, 66, 556]

In [23]:
t=("hii","hello","good morning")
print(t[1:])
print(t[0:2])
print(t+t)
print(type(t))                                                     #Tuple

('hello', 'good morning')
('hii', 'hello')
('hii', 'hello', 'good morning', 'hii', 'hello', 'good morning')
<class 'tuple'>

In [20]:
t = (1, 2, 4, 5, 4, 1, 2,1 ,1)

print(t.count(1))
print(t.index(5))                                                              #tuple method

4
3

In [32]:
 j={1:'shirya',2:'jiya',3:'harvi',4:'harvi'}
print("1st name is" +j[1])
print("1st name is" +j[2])
print(j.keys())
print(j.values())             #dictionary

1st name isshirya
1st name isjiya
dict_keys([1, 2, 3, 4])
dict_values(['shirya', 'jiya', 'harvi', 'harvi'])

In [43]:
list1_set={11,22,33,44,55,66,77}
print(list1_set[3])

44

# Conditional Expressions:)

In [23]:
a=int(input("enter your no?"))
if a%2 ==0:
    print("number is even")

enter your no?22
number is even

In [31]:
age=int(input("enter your age?"))
if age>18:
    print("you are eligable to vote!!")
else:
    print("sorry!you have to wait!!!")

enter your age?34
you are eligable to vote!!

In [7]:
name = 'Janvi'
if name == 'Janvi':
    
    print(name, " is present")
else:
    print(name, " is absent")

Janvi  is present

In [1]:
#If--elif--else

marks = int(input("Enter Your Marks\n"))

if marks>=90:
    grade = "A+"
elif marks>=80:
    grade = "A"
elif marks>=70:
    grade = "B"
elif marks>=60:
    grade = "C"
elif marks>=50:
    grade = "D" 
else:
    grade = "F"
print('Your Grade is ' +grade)

Enter Your Marks
99
Your Grade is A+

In [4]:
age=int(input("enter your age"))
if(age>18 and age<45):
    print("you are allowed Vaccines")       #bane true hova joi and ma
else:
    print("you are not allowed for Vaccines")

enter your age55
you are not allowed for Vaccines

In [4]:
age=int(input("Enter your number"))
if(age>34 or age<56):                                             #logical and relation
    print("you can work with us:")
else:
     print("you cannot work with us:")

Enter your number57
you can work with us:

In [13]:
sub1=int(input("enter your first subject mark\n"))
sub2=int(input("enter your first subject mark\n"))
sub3=int(input("enter your first subject mark\n"))

if(sub1<33 or sub2<33 or sub3<33):
    print("you are fail because you have less then 33% in one of the subject:")
    
elif(sub1+sub2+sub3)/3 <40:
    print("enter are faile due to total persentage less then 40")
else:
    print("congrets y r passed")

enter your first subject mark
35
enter your first subject mark
36
enter your first subject mark
37
enter are faile due to total persentage less then 40

In [16]:
names=["janvi","bansi","harvi","kishu","shriya"]
name=input("enter the name to check\n")

if name in names:
    print("your name in list ")
else:
    print("your name is not a list")

enter the name to check
yash
your name is not a list

In [ ]:
#gratest of four number by the user

# loop

# i=1;
while i<10:
    print(i)
    i=i+1
                                  #while

In [30]:
i = 1

while i<=30:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [32]:
fruit=['banana','apple','grapes','watermelon']
i=0
while i<len(fruit):
    print(fruit[i])
    i = i+1

banana
apple
grapes
watermelon

In [4]:
l=[1,7,8]
for item in l:
    print(item)

1
7
8

In [9]:
choco=["Dairymilk","park","kitkat"]
for janu in choco:
    print(janu)

Dairymilk
park
kitkat

In [9]:
for i in range(1,8,1):
    print(i)

1
2
3
4
5
6
7

In [16]:
for i in range(10):
    print(i)
else:
      print("This is inside else of for")

0
1
2
3
4
5
6
7
8
9
This is inside else of for

In [35]:
fruit=["mango","apple","banana","pinapple"]
for j in fruit:
    if j=="banana":
        break
    print(j)

mango
apple

In [23]:
for i in range(10):
    print(i)
    if i == 5:
        break
else:
    print("This is inside else of for")

0
1
2
3
4
5

In [19]:
for i in range(0,10):
    print(i)               #break statement
    if i==4:
        break

0
1
2
3
4

In [1]:
for i in range(4): 
    print('printing')
    if i==2:
        continue
print(i)

printing
printing
printing
printing
3

In [26]:
for i in range(10):
    if i==5:
        continue  
    print(i)

0
1
2
3
4
6
7
8
9

In [40]:
l=[1,7,8,999]
for item in l:
    pass   
    print(item)
#pass  last element thay 6 han    haaaa

999

In [6]:
num=int(input("enter your number"))
for i in range(1, 11):
    # print(str(num) + " X " + str(i) + "=" + str(i*num))
    print(f"{num}X{i}={num*i}")

enter your number6
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
6X10=60

In [ ]:
j=["janvi","harvi","shriya","bansi"]
for name in j:
    if name.Startwith("s"):
        print("hello"+name)

In [ ]:
num=int(input("Enter your num"))
prime=true
for num in range(2,num):
        prime=false
        break
if prime:
            print('this no is prime')
else:
            print('this no is not prime')

#### n=4

for  i in range (4):
    print("*" *(i+1))

# function

In [27]:
def test(a,b):
        print("hello from a function")   # create function

In [29]:
def test():
    print("hello from a function")           #calling function/no argument no return value
test()

hello from a function

In [30]:
def test1(fname):
    print(fname+"janvi")        #with parameter no return value
test1("address")
test1("city")
test1("email")

addressjanvi
cityjanvi
emailjanvi

In [34]:
def test2(country="africa"):
    print("i am from"+country)
test2("sweden")
test2("india")
test2()                           #default parameter
test2("brazil")

i am fromsweden
i am fromindia
i am fromafrica
i am frombrazil

In [1]:
def test3(j):
    return 5*x
    print(test3(3))
    print(test3(5))
    print(test3(9))

In [2]:
def maximum(num1,num2,num3):
    if num1>num2:
        if num2>num3:
            return num1
        else:
            return num3
            if num2>num3:
                return num2
            else:            
                return num3
                
l=maximum(13,3,44)
print("the value is maximum is"+str(l))

the value is maximum is44

___File Io___

In [6]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i=i+1

1
2
3